* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    font-weight: 700;
}

p {
    line-height: 24px;
}

body {
    font-family: sans-serif;
}

nav {
    background: white;
    padding: 0px 20px;
    height: 50px;
    color: black;
}

ul {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo-image {
    width: 80px;
}

.logo {
    flex: 1;
    color: white;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.menu li {
    font-size: 16px;
    padding: 15px 15px;
    white-space: nowrap;
}


.item {
    display: block;
    order: 1;
    width: auto;
}

.section-top__image {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 40px;
}

.section-top {
    padding: 0px 40px;
    margin-bottom: 80px;
}

.section-top__title {
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.section-top__text {
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
}

.input-email {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 15px;
    padding: 10px;
}

.button {
    width: 100%;
    height: 45px;
    background-color: dodgerblue;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

.section-middle {
    background-color: plum;
    padding-top: 80px;
    padding-bottom: 80px;
    border-top-left-radius: 120% 10%;
    border-top-right-radius: 120% 10%;
}

.section-middle__title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.section-middle-text__container {
    text-align: left;
    margin: auto;
    margin-bottom: 30px;
}



.section-middle-text {
    margin-bottom: 20px;
}

.section-middle__link {
    text-align: center;
    color: darkgreen;
    margin-top: 30px;
    
}

.section-middle__image {
    display:block;
    width: 80%;
    margin: 0px auto 80px;
}

.section-middle__container {
    padding: 0px 20px;
}

.icon-arrow {
    position: relative;
    bottom: -3px;
}

.curve {
    height: 100px;
    width: 100%;
            border-top-left-radius:50%;
    border-top-right-radius:50%;
    background-color: crimson
}

.quote-card {
    width: 350px;
    margin: auto;
    padding: 20px 30px;
    border-radius: 5px;
    background-color: white;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.testimonial-image {
    border-radius: 50%;
    width: 50px;
    float: left;
    margin-right: 10px;
}

.quote-card__name {
    position: relative;
    bottom: -5px;
    font-weight: 700;
}

.quote-card__person {
    margin-top: 20px;
}

.quote-card__job {
    font-size: 12px;
}

.quote-card__quote {
    margin-bottom: 5px;
    height: 15px;
}

.section-bottom {
    padding: 80px 40px 80px;   
    color: white;
    background-color: cadetblue;

}

.section-bottom__title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.section-bottom__input {
    width: 320px;
    margin: auto;
}

.section-bottom__input .input-email{
    margin-bottom: 5px;
}

.section-bottom-text {
    text-align: center;
    margin-bottom: 20px;
}

footer {
background-color: hsla(215, 75%, 78%, 1);
}

[class^="icon"] {
  width: 23px;
  height: 20px;
}

.icon {
    margin-right: 20px;
    
}

.footer__logo {
    margin-bottom: 40px;
    width: 200px;
    color: white;
}

.footer__row {
    margin-bottom: 20px;
     display: flex;
    align-items: center;
}

.footer__row__container {
    margin-bottom: 70px;
}

.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.social-icon {    
    width: 15px;  
    fill: red;
    margin-left: 1px;
}

.social-outline {
    border: 1px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.footer {
        background-color: hsl(243, 87%, 12%);
    color: white;
    padding: 70px 40px 30px;
}
