* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-dark-blue: hsl(243, 87%, 12%);
    --primary-desat-blue: hsl(238, 22%, 44%);

    --accent-bright-blue: hsl(224, 93%, 58%);
    --accent-mod-cyan: hsl(170, 45%, 43%);

    --neutral-grey-blue: hsl(240, 75%, 98%);
    --neutral-grey: hsl(0, 0%, 75%);
}

h1 {
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

p {
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;    
}

body {
    font-family: sans-serif;
}

nav {
    margin: auto;
    max-width: 1440px;
    background: white;
    padding: 0px 20px;
    height: 50px;
    color: black;
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*   Nav  */
.logo-image {
    width: 80px;
}

.logo {
    flex: 1;
    color: white;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.menu li {
    font-size: 16px;
    padding: 15px 15px;
    white-space: nowrap;
}

.item {
    display: block;
    order: 1;
    width: auto;
}

/*    Top Section */
.section-top {
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
    margin-bottom: 80px;
    text-align: center;
}

.section-top__image {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 40px;
}

.section-top__title {        
    font-family: 'Open Sans', sans-serif;
    line-height: 40px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;    
}

.section-top__text {
    margin: auto;
    margin-bottom: 30px;
}

.input-email {  
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 15px;
    padding-left: 25px;
}

.button { 
    width: 100%;
    height: 45px;
    background-color: dodgerblue;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    background-color: var(--accent-bright-blue);
    border: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

/*    Mid Section */
.section-middle {
    display: flex;
    flex-direction: column;
    background-color: var(--neutral-grey-blue);
    padding-top: 80px;
    padding-bottom: 80px;
    border-top-left-radius: 120% 10%;
    border-top-right-radius: 120% 10%;
}

.section-middle__image {
    display: block;
    width: 80%;
    margin: 0px auto 80px;
}

.section-middle__left {
    padding: 0px 20px;
}

.section-middle__title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.section-middle-text__container {
    text-align: left;
    margin: auto;
    margin-bottom: 30px;
}

.section-middle-text {
    margin-bottom: 20px;
    color: #4f4f4f;
}

.section-middle__link {
    text-align: center;
    color: #49927b;
    margin-top: 30px;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 1px;
    border-bottom: 1px solid;
    width: 190px;
    margin: auto;    
    display: flex;
    align-items: center;
}

.arrow-icon {    
    width: 30px;
    margin-left: 10px;  
    position: relative;
    top: 3px;
}

.quote-card {
    width: 350px;
    margin: auto;
    padding: 20px 30px;
    border-radius: 5px;
    background-color: white;
    margin: auto;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.05);
}

.quote-card__quote {
    margin-bottom: 5px;
    height: 15px;
}

.quote-card__text {
    font-size: 14px;
}

.quote-card__person {
    margin-top: 20px;
}

.testimonial-image {
    border-radius: 50%;
    width: 40px;
    float: left;
    margin-right: 10px;
}

.quote-card__name {
    font-weight: 700;
    font-size: 14px;
}

.quote-card__job {
    position: relative;
    bottom: 3px;
    font-size: 12px;
}

/* Bottom Section */
.section-bottom {
    display: flex;
    flex-direction: column;
    padding: 60px 40px 60px;   
    color: white;
    background-color: var(--primary-desat-blue);
    text-align: center;
}

.section-bottom__title {    
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.section-bottom-text {    
    margin-bottom: 20px;
}

.section-bottom__input {
    width: 320px;
    margin: auto;
}

.section-bottom__input .input-email{
    font-size: 14px;
    margin-bottom: 10px;
    border: none;
}

/* Footer */
.footer {
    background-color: var(--primary-dark-blue);
    color: var(--neutral-grey-blue);
    padding: 70px 40px 30px;
    font-family: 'Open Sans', sans-serif;
}

.footer__logo {
    margin-bottom: 40px;
    width: 200px;
    color: white;
}

.icon {
    width: 23px;
    height: 20px;
    margin-right: 20px;
}

.footer__row {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.footer__row__container {
    margin-bottom: 60px;
}

.footer__row__container:last-child {
    margin-bottom: 0px;
}

.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.social-icon {    
    width: 15px;  
    margin-left: 1px;
}

.social-outline {
    border: 1px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

footer {
    background-color: hsla(215, 75%, 78%, 1);
}

.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%); }

/* Desktop Styles */
@media only screen and (min-width: 865px) {
    main {
        max-width: 1440px;
        margin: auto;
    }

    /*    Top Section */
    .section-top {
        display: flex;
        flex-grow: 1;
        flex-direction: row;
        text-align: left;
    }

    .section-top__image {
        max-width: 50%;
        flex-grow: 1;
        order: 2;
        margin: 80px 0px 40px 40px;
    }

    .section-top__title {        
        text-align: left;
        font-size: 36px;
        line-height: 46px;
    }

    .section-top__input {
        display: flex;
        flex-direction: row;
        max-width: 450px;
    }

    .section-top__input .input-email { 
        margin-right: 10px;
        flex-grow: 1;
        width: auto;
    }

    .section-top__input .button {
        flex-grow: 1;
        width: auto;        
    }

    .section-top__left {
        display: flex;
        flex-direction: column;
        margin: auto;
        max-width: 550px;
    }

    /*    Mid Section */
    .section-middle {
        display: flex;
        flex-direction: row;
        padding: 80px 40px 80px;
    }

    .section-middle__image {
        max-width: 50%;
        margin: auto;
        padding-left: 30px;
        order: 2;
        flex-grow: 1;
    }

    .section-middle__title {
        text-align: left;
        font-size: 30px; 
    }

    .section-middle__left {
        padding: 0px 30px 0px 0px;
    }

    .section-middle__link {  
        margin: 0;
    }

    .quote-card { 
        margin: 0;
    }

    /*     Bottom Section */
    .section-bottom {
        flex-direction: row;
        text-align: left;
    }

    .section-bottom__title {    
        text-align: left;
        margin-bottom: 10px;
    }

    .section-bottom__left {
        max-width: 43%;
    }

    .section-bottom__input {
        width: 50%;
        margin-left: 140px;
    }

    .section-bottom__input .button { 
        max-width: 200px;
    }

    /*    footer */
    .footer__logo {
        margin-bottom: 20px;
        width: 130px;
        height: 40px;
    }

    .footer__row__container {
        margin-bottom: 0px;
    }

    .social-container {
        justify-content: flex-start;      
    }

    .section-bottom__container {
        display: flex;
        flex-direction: row;        
        justify-content: space-between;
    } 
}